<style>
    body {
        margin: 0 auto;
        max-width: 500px;
        text-align: center;
        border: 1px solid #000;
    }

    div.task-form {
        padding: 10px;
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-gap: 5px;
    }

    div.settings label {
        text-align: right;
    }

    div.settings label:after {
        content: ":";
    }

    ul {
        list-style-type: none;
        display: inline-block;
        padding: 10px;
        width: 200px;
    }

    li {
        padding: 10px 10px 10px 10px;
        border: 1px solid #000;
        outline: black;
        margin-bottom: 10px;
    }

    .red {
        background: rgba(255, 0, 0, 0.82);
    }

    .orange {
        background: rgba(255, 165, 0, 0.71);
    }

    .blue {
        background: rgba(0, 0, 255, 0.45);
    }
</style>
