{% extends "base.html" %}

{% block title %}What Todo{% endblock %}

{% block content %}
    <h1>What Todo</h1>
    <hr />
    <h2>Add Task</h2>

    <form method="post" action="{% url 'task_list' %}">
        {% csrf_token %}
        <div class="task-form">
            <!-- DESCRIPTION -->
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" />
            <!-- /DESCRIPTION -->

            <!-- CITY -->
            <label for="city">Nearest City:</label>
            <select id="city" name="city">
                {% for c in cities %}
                    <option value="{{ c }}">{{ c }}</option>
                {% endfor cities %}
            </select>
            <!-- /CITY -->
        </div>
        <button>Submit</button>

    </form>

    <hr />

    <h2>Tasks</h2>

    <ul>
        {% for t in task_list %}
            <li class="{{ t.get_weather_colour_display }}">
                <a href="{% url 'task_detail' t.id %}">
                    {{ t.description }} |
                    {{ t.temp_feels_like }} °C |
                    {{ t.complete|yesno:"Complete,Not Complete" }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
