{% extends "base.html" %}

{% block title %}What Todo{% endblock %}

{% block content %}
    <h1>What Todo</h1>
    <hr />
    <h2>Add Task</h2>

    <form method="post" action="{% url 'task_list' %}">
        {% csrf_token %}
        <div class="task-form">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" />
        </div>
        <button>Submit</button>

    </form>

    <hr />

    <h2>Tasks</h2>

    <ul>
        {% for t in task_list %}
            <li>
                <a href="{% url 'task_detail' t.id %}">
                    {{ t.description }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
